openapi: 3.0.0
info:
  title: workshop api
  version: 1.0.0
servers:
  - url: https://api.intercom.com.co/v1
    description: Production
  - url: https://api.staging.intercom.com.co/v1
    description: QA
paths:
  /payments:
    get:
      summary: Get a list of payments with customer info
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      responses:
        '200':
          description: Successful response
              
    post:
      summary: Create a new payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      responses:
        '201':
          description: Payment created successfully 
  /payments/{paymentId}:
    get:
      summary: Get Payment By Id
      parameters:
        - name: paymentId
          in: path
          description: ID of Payment
          required: true
          schema:
           type: integer
    put:
      summary: Update an existing payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      parameters:
        - name: paymentId
          in: path
          description: ID of the payment to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      responses:
        '200':
          description: Payment updated successfully
        '404':
          description: Payment not found
    delete:
      summary: Delete a payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      parameters:
        - name: paymentId
          in: path
          description: ID of the payment to delete
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Payment deleted successfully
        '404':
          description: Payment not found
    patch:
      summary: Update specific fields of an existing payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      parameters:
        - name: paymentId
          in: path
          description: ID of the payment to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                status:
                  type: string
                  enum:
                    - completed
                    - refunded
      responses:
        '200':
          description: Payment updated successfully
        '404':
          description: Payment not found
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Customer:
      type: object
      properties: 
        identification:
          type: string
        email:
          type: string
        name:
          type: string
    Payment:
      type: object
      properties:
        paymentId:
          type: integer 
        customer:
          $ref: '#/components/schemas/Customer' 
        name:
          type: string
        amount:
          type: number
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
            - refunded

