openapi: 3.0.0
info:
  title: workshop api
  version: 1.0.0
servers:
  - url: https://api.intercom.com.co/v1
    description: Production
  - url: https://api.staging.intercom.com.co/v1
    description: QA
paths:
  /users:
    get:
      summary: Get a list of payments with customer info
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                payments:
                  - paymentId: 1
                    customerName: Javier M
                    amount: 100.00
                    status: completed
                  - paymentId: 2
                    customerName: M. Pedroza
                    amount: 50.00
                    status: pending
    post:
      summary: Create a new payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      responses:
        '201':
          description: Payment created successfully 
  /users{paymentId}:
    put:
      summary: Update an existing payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      parameters:
        - name: paymentId
          in: path
          description: ID of the payment to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
      responses:
        '200':
          description: Payment updated successfully
        '404':
          description: Payment not found
    delete:
      summary: Delete a payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      parameters:
        - name: paymentId
          in: path
          description: ID of the payment to delete
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Payment deleted successfully
        '404':
          description: Payment not found
    patch:
      summary: Update specific fields of an existing payment
      security:
        - jwt: []  # Referencing the 'jwt' security scheme
      parameters:
        - name: paymentId
          in: path
          description: ID of the payment to update
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                status:
                  type: string
                  enum:
                    - completed
                    - refunded
      responses:
        '200':
          description: Payment updated successfully
        '404':
          description: Payment not found
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Payment:
      type: object
      properties:
        paymentId:
          type: integer
        customerName:
          type: string
        amount:
          type: number
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
            - refunded
